@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.header {
  font-family: "Roboto", sans-serif; }
  .header__img {
    height: 100px;
    width: 100px; }
  .header__ul--active {
    font-weight: 900; }

.main {
  font-family: "Roboto", sans-serif; }
  .main__img {
    height: 40rem;
    width: 100%; }

.footer {
  background-color: #003559; }
  .footer__ul {
    display: flex;
    justify-content: center;
    align-content: center;
    list-style: none;
    padding: 20px; }
  .footer__i {
    font-size: 3rem; }
  .footer .terminosYcondiciones {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px; }
    .footer .terminosYcondiciones a {
      text-decoration: none; }
  .footer li {
    margin: 2rem; }
    .footer li a {
      text-decoration: none; }
  .footer__p {
    color: #ffff; }
  .footer hr {
    color: #ffff; }
