@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.main .titulo {
  text-align: center;
  font-family: "Roboto", sans-serif;
  padding: 2rem;
  color: black; }

.header {
  font-family: "Roboto", sans-serif; }
  .header__img {
    height: 100px;
    width: 100px; }
  .header__ul--active {
    font-weight: 900; }

.main {
  min-height: 80vh;
  background-color: #f6efee;
  font-family: "Roboto", sans-serif; }
  .main__img {
    height: 40rem;
    width: 100%; }
  .main .contenedorProductos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 3rem; }
    .main .contenedorProductos .producto {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 25rem;
      height: 26rem;
      padding: 2rem;
      background-color: white;
      margin-left: 20px;
      margin-bottom: 5rem;
      text-align: center; }
      .main .contenedorProductos .producto .contBtn {
        width: 100%; }
      .main .contenedorProductos .producto .imgProd .imgZapa {
        width: 100%;
        height: 20rem;
        border-radius: 5%; }
  .main .titulo {
    background-color: #ff5733; }
  .main .btnComprar:hover {
    border-radius: 20px;
    transition: 2s;
    background-color: black;
    color: white; }
  .main .grid-container {
    display: grid;
    max-width: 100%;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    align-items: center;
    justify-content: center;
    justify-items: center;
    padding-top: 5rem;
    padding-bottom: 5rem;
    grid-template-areas: "gridForm zapa1 zapa2" "gridForm zapa3 zapa4"  "gridForm zapa5 zapa6"; }
    .main .grid-container .card {
      text-align: center;
      margin: 1rem;
      align-items: center; }
    .main .grid-container img {
      width: 250px; }
  .main .gridForm {
    grid-area: gridForm; }
  .main .zapa1 {
    grid-area: zapa1; }
  .main .zapa2 {
    grid-area: zapa2; }
  .main .zapa3 {
    grid-area: zapa3; }
  .main .zapa4 {
    grid-area: zapa4; }
  .main .zapa5 {
    grid-area: zapa5; }
  .main .zapa6 {
    grid-area: zapa6; }
  @media (max-width: 858px) {
    .main .grid-container {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(4, 1fr);
      grid-template-areas: "gridForm gridForm" "zapa1 zapa2" "zapa3 zapa4" "zapa5 zapa6";
      justify-items: center; } }
  @media (max-width: 596px) {
    .main .grid-container {
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: repeat(7, 1fr);
      grid-template-areas: "gridForm" "zapa1" "zapa2" "zapa3" "zapa4" "zapa5" "zapa6"; } }

.footer {
  background-color: #003559; }
  .footer__ul {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 20px; }
  .footer__i {
    font-size: 3rem; }
  .footer .terminosYcondiciones {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px; }
    .footer .terminosYcondiciones a {
      text-decoration: none; }
  .footer li {
    margin: 2rem; }
    .footer li a {
      text-decoration: none; }
  .footer__p {
    color: #f6efee; }
  .footer hr {
    color: #f6efee; }
